
<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <img matListAvatar src="../../assets/img/uniliver_logo.png" class="ml-2" height="50px" width="50px" alt="logo">
  <span class="toolbar-icon {{(isHandset$ | async) ? 'hidden' : ''}}"> {{ company.company_name }} </span>
  <span class="toolbar-spacer"></span>

  <button type="button" mat-icon-button class="toolbar-icon" [matMenuTriggerFor]="msgmenu">
    <mat-icon matBadge="25" matBadgeColor="warn">mail_outline</mat-icon>
  </button>

  <button type="button" mat-icon-button class="toolbar-icon" [matMenuTriggerFor]="alertsmenu">
    <mat-icon matBadge="64" matBadgeColor="warn"> map </mat-icon>
    <!-- <fa-icon [icon]="['fas', 'MapMarkedAlt']"  ></fa-icon> -->
  </button>

  <button type="button" mat-icon-button class="toolbar-icon" [matMenuTriggerFor]="accountmenu">
    <img class="img-circle" src="../../assets/img/team1.jpg" class="img-round" height="40px" width="40px" alt="logo">
  </button>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    
    <mat-nav-list>
      <a [routerLink]="['/dashboard']" routerLinkActive="active" mat-list-item matTooltip="Shows a summary of key statistics"
        matTooltipClass="tooltip-red" aria-label="shows a red tooltip">
        <span class="">
          <mat-icon>home</mat-icon>
          Dashboard
        </span>
      </a>

      <a [routerLink]="['/stats']" routerLinkActive="active" mat-list-item matTooltip="Shows vital statistics in graphically"
        matTooltipClass="tooltip-red" aria-label="shows a red tooltip">
        <span class="">
          <mat-icon>insert_chart_outlined</mat-icon>
          Statistics
        </span>
      </a>

      <a [routerLink]="['/distributors']" routerLinkActive="active" mat-list-item matTooltip="Shows current list of distributors"
        matTooltipClass="tooltip-red" aria-label="shows a red tooltip">
        <span class="">
          <mat-icon>assignment</mat-icon>
          Distributors
        </span>
      </a>

      <a [routerLink]="['/admin']" routerLinkActive="active" mat-list-item matTooltip="Manage your application"
        matTooltipClass="tooltip-red" aria-label="shows a red tooltip">
        <span class="">
          <mat-icon>account_circle</mat-icon>
          Admin
        </span>
      </a>

      <a [routerLink]="['/help']" routerLinkActive="active" mat-list-item matTooltip="When stuck click here"
        matTooltipClass="tooltip-red" aria-label="shows a red tooltip">
        <span class="">
          <mat-icon>help_outline</mat-icon>
          Help
        </span>
      </a>

      <a [routerLink]="['/monitor']" routerLinkActive="active" mat-list-item matTooltip="Shows real time interaction "
        matTooltipClass="tooltip-red" aria-label="shows a red tooltip">
        <span class="">
          <mat-icon>visibility</mat-icon>
          Monitoring Panel
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  
    <!-- Add Content Here -->
    <ng-content>
              
    </ng-content>


    <app-chapchap-distributor-chat class="chat-head p-4 "></app-chapchap-distributor-chat>

  </mat-sidenav-content>

  <mat-menu #alertsmenu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

  <mat-menu #msgmenu="matMenu">
    <button mat-menu-item>
      <mat-icon>sync</mat-icon>
      <span>Recent</span>
    </button>
    <button mat-menu-item>
      <mat-icon>fiber_new</mat-icon>
      <span>New messages</span>
    </button>
    <button mat-menu-item>
      <mat-icon>group_add</mat-icon>
      <span>New group</span>
    </button>
  </mat-menu>

  <mat-menu #chatsmenu="matMenu">
    <button mat-menu-item>
      <mat-icon>sync</mat-icon>
      <span>Recent</span>
    </button>
    <button mat-menu-item>
      <mat-icon>fiber_new</mat-icon>
      <span>New messages</span>
    </button>
    <button mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <span>New chat</span>
    </button>
  </mat-menu>

  <mat-menu #accountmenu="matMenu">
    <button mat-menu-item>
      <mat-icon>radio_button_checked</mat-icon>
      <span>Status: Online</span>
    </button>
    <button mat-menu-item [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
      <span> Account setting </span>
    </button>
    <button mat-menu-item>
      <mat-icon>feedback</mat-icon>
      <span> Feedback </span>
    </button>
    <button mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span> Logout </span>
    </button>
  </mat-menu>
</mat-sidenav-container>