<div class="row m-3">
  
  <mat-grid-list cols="3" rows="2" >
    
      <mat-card class="mb-2 text-center " *ngFor="let employee of employees">
        <mat-card-content>
          <img src="{{ employee.card_img }}" class="img-round" height="" width="">
          <mat-card-title-group class="person-card-content ml-5">
            <mat-card-title>
              {{ employee.card_name }}
            </mat-card-title>
            <mat-card-subtitle>
      
              {{ employee.card_location }}
      
              <br>
      
              {{ employee.card_phone }}
      
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-content>
      </mat-card>

    
  </mat-grid-list>
  
</div>

    