
<mat-card class="mb-2 person-card-content" *ngFor="let distributor of distributors">
  <mat-card-content>
    <img src="{{ distributor.card_img }}" class="img-round" height="" width="">
    <mat-card-title-group class="person-card-content ml-5">
      <mat-card-title>
        {{ distributor.card_name }}
      </mat-card-title>
      <mat-card-subtitle>

        {{ distributor.card_location }}

        <br>

        {{ distributor.card_phone }}

      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-content>
  <mat-card-footer>
    <button type="button" mat-icon-button class="toolbar-icon">
      <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
    </button>
    <button type="button" mat-icon-button class="toolbar-icon">
      <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
    </button>
    <button type="button" mat-icon-button class="toolbar-icon">
      <fa-icon [icon]="['fab', 'whatsapp']" size="2x"></fa-icon>
    </button>
    <button type="button" mat-icon-button class="toolbar-icon">
      <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
    </button>
    <button type="button" mat-icon-button class="toolbar-icon">
      <fa-icon [icon]="['far', 'envelope']" size="2x"></fa-icon>
    </button>
  </mat-card-footer>
</mat-card>