

<mat-card-title>
  <mat-icon class="toolbar-icon">
    <span class="chap-red">
      person_add
    </span>
  </mat-icon> 
    <span class="chap-red"> 
      ADD MEMBER
    </span>
</mat-card-title>

<!-- Form to add employees to the system -->
<mat-card-content>
  <form>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group ">
          <label for="FormControlPhoto">Add profile photo</label>
          <input type="file" class="form-control-file" id="FormControlPhoto" placeholder="Name">
        </div>
        
        <mat-form-field >
          <input matInput placeholder="First Name" required>
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="Last Name" required>
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="Enter email" required>
          <mat-error *ngIf="email.invalid"> {{getErrorMessage()}} </mat-error>
        </mat-form-field>

        <mat-radio-group >
          <mat-radio-button value="M" class="mr-4"> Male</mat-radio-button>
          <mat-radio-button value="F"> Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-6">      
        <mat-form-field >
          <mat-select placeholder="Job Title:">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="Phone number" required>
          <mat-icon matSuffix class="chap-red" >phone</mat-icon>
          <mat-hint> Include area code </mat-hint>
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix class="chap-red" (click)="hide = !hide"> {{ hide ? 'visibility' : 'visibility_off' }} </mat-icon>
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="Confirm password" [type]="rehide ? 'password' : 'text'">
          <mat-icon matSuffix class="chap-red" (click)="rehide = !rehide"> {{ hide ? 'visibility' : 'visibility_off' }} </mat-icon>
        </mat-form-field>

        <button class="mr-4" mat-raised-button (click)="onAdd()"> <span class="chap-red" > ADD </span> </button>
        <button type="reset" mat-button> <span class="color-green"> RESET </span> </button>
      </div>
    </div>
  </form>
</mat-card-content>