

.grid-container {
  margin: 60px;
}


// spinner element
.spin-round {
     margin: 150px 300px;
    // justify-content: center
}


.hide {
  display: none;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 75%;
}