
<mat-card class="monitor-panel ">
  <div class="row my-0 chap-header">
    <div class="col-md-2">
          <button [routerLink]="['/dashboard']" mat-raised-button> 
              <mat-icon>keyboard_backspace</mat-icon>
                <span class="chap-red"> Dashboard </span> 
          </button>

    </div>
    <div class="media mx-auto">
            <img class="mr-3" src="../../assets/img/chapchaplogo.png" alt="chapchap logo"
                    width="50"  height="50">
        <div class="media-body">
              <h4 class=" chap-red mat-display-1 font-weight-bold"> ChapChap Monitoring Panel </h4>
        </div>
    </div>
  </div>
  <mat-card class="mt-0">
    <div class="row mt-0">
      <!-- Monitoring map -->
      <div class="col-md-8">
          <app-chapchap-monitor-map></app-chapchap-monitor-map>
      </div>

      <!-- Online stats -->
      <div class="col-md-4">
        
            <app-chapchap-monitor-transact></app-chapchap-monitor-transact>


      </div>
    </div>
  </mat-card>

    <app-chapchap-distributor-chat class="chat-head p-4 "></app-chapchap-distributor-chat>


</mat-card>