
<form >
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="ID*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="First Name*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput placeholder="Email">
        <mat-error>Invalid email address.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mobile*">
        <mat-error>This field is mandatory.</mat-error>
        <mat-error>Minimum 8 charactors needed.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Location">
      </mat-form-field>
    </div>
  </div>

</form>