
.login-box {
  height: 100vh;  
  background-color: #F73233;
  // background: linear-gradient(5deg, #F73233,rgb(247, 50, 116));
}

.login-card {
  height: 34rem;  
  background-color: #f5f5f5;
  width: 20rem;
  margin: 0 auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
