<mat-card class="login-box text-center">
  <mat-card class="login-card mt-2">
    <form  [formGroup]="loginForm" class="form-signin pt-3 mat-typography" novalidate >
      <h2 class="mat-display-1 font-weight-bold chap-red mb-0 chapbanner"> ChapChap Manufacturer </h2>
      <img class="mb-1" src="../../assets/img/chapchaplogo.png" alt="" width="80" height="80">
      <h1 class="h3 font-weight-normal ">
        <span class="chap-red"> 
          Please sign in
        </span>
        </h1>
      <mat-form-field class="w-100">
        <input matInput placeholder="Phone number" formControlName="phonenumber" [(ngModel)]="user.phonenumber" required >
        <!-- <span matPrefix> +256 </span> -->
        <mat-icon matSuffix class="chap-red" >phone</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" [(ngModel)]="user.password" required >
        <mat-icon matSuffix class="chap-red" (click)="hide = !hide"> {{ hide ? 'visibility' : 'visibility_off' }} </mat-icon>
      </mat-form-field>

      <section class=" mb-1">
        <mat-checkbox class="chap-red" formControlName="remember" [(ngModel)]="user.remember" > Remember me </mat-checkbox>
      </section>

      <a [routerLink]="['/dashboard']">
        <button  mat-raised-button class="btn btn-lg btn-danger chap-red btn-block mb-1 btn-round" type="submit">Sign in</button>
      </a>
      
      <a [routerLink]="['/register']">
        <button mat-raised-button class="btn btn-lg btn-danger chap-red btn-block btn-round" type="submit">Register</button>
      </a>

      <p class="m-3 text-muted "> © {{ current_year }} </p>
    </form>
  </mat-card>
</mat-card>