

    <app-chap-nav>

        <mat-card class="grid-container">
            <nav aria-label="breadcrumb" class="mt-2 mr-2">
                <ol class="breadcrumb">
                <li class="breadcrumb-item active mat-h1" aria-current="page"> Admin </li>
                </ol>
            </nav>

            <mat-tab-group mat-stretch-tabs="always">
                <mat-tab class="h-100 admin-set">
                    <ng-template mat-tab-label>
                        <mat-icon class="mr-2">person</mat-icon> <span class="toolbar-icon" color="primary"> PROFILE </span>
                    </ng-template>
                    
                        <app-chapchapadmin-main ></app-chapchapadmin-main> 

                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="toolbar-icon">people</mat-icon> <span class="toolbar-icon" color="primary">
                            EMPLOYEES ON SYSTEM </span>
                    </ng-template>
            
                         <app-chapchapadmin-emplist></app-chapchapadmin-emplist> 
            
                </mat-tab>

            </mat-tab-group>

        </mat-card>

    </app-chap-nav>