
<div class="row m-3">
  <div class="col-md-4 ">
    <!-- Admin profile -->
    <mat-card >
      <img mat-card-image src="../../assets/img/user.png">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            John Doe
          </mat-card-title>
          <mat-card-subtitle>
            General Manager
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>

      <mat-card-content>
        <p>
          Company: Uniliver (U) Ltd
        </p>
        <p>
          Kampala,Uganda
        </p>

      </mat-card-content>
      
    </mat-card>
  </div>
  
  <div class="col-md-7">
    <!-- Add user -->
    <!-- Add company user-->
      <mat-card class=" ">
          <app-chapchapadmin-adduser></app-chapchapadmin-adduser>
      </mat-card>

  </div>
</div>